body{
	
background-color : 	#f2cfc8;

}

.vide{
	display: inline-block;
	background-image : url(casevide.png);
	width: 84px;
	height: 84px;
	background-size: cover;
	margin-top : -3;
}

.jaune{
	display: inline-block;
	background-image : url(casejaune.png);
	width: 84px;
	height: 84px;
	background-size: cover;
	margin-top : -3;
}

.rouge{
	display: inline-block;
	background-image : url(caserouge.png);
	width: 84px;
	height: 84px;
	background-size: cover;
	margin-top : -3;
}